<html>
  <body>
    <main>
      <h1>Index</h1>
      <form class='kwes-form' action='https://kwesforms.com/api/foreign/forms/bH6j6B8sEescy2Lc3Hku'>
        <label for='name'>Your Name</label>
        <input type='text' name='name' rules='required|max:255' />

        <button type='submit'>Submit</button>
      </form>
    </main>
    <script is:inline src='https://kwesforms.com/v2/kwes-script.js' defer></script>
  </body>
</html>
